.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    background-color: #fff;
}

.card {
    padding: 2rem;
    border-radius: 16px;
    width: 100%;
    max-width: 900px;
    background-color: #fafafa;
}

.title {
    text-align: center;
    margin-bottom: 1.5rem;
    font-weight: 600;
}

.select {
    min-width: 250px;
}

.button {
    height: 56px;
    width: 100%;
    font-weight: 600;
    background-color: #1976d2;
}

.button:hover {
    background-color: #1565c0;
}